:root {
  --linkedinBlue1: #0072b1;
  --linkedinBlue2: #0073b1;
  --linkedinBlue3: #004c75;
}

.profile-card {
  width: auto;
  height: auto;
  background-color: rgba(254, 254, 254, 0.891);
  margin: 30px;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}
.profile-info {
  display: flex;
  justify-content: space-between;
}
.profile-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #cacaca;
  padding: 5px;
  cursor: pointer;
}
.right-info {
  margin-top: 25px;
  margin-right: 20px;
}

.college,
.company {
  font-family: system-ui;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
}

.company {
  margin-top: -15px;
}

.website {
  color: #004c75 !important;
  -webkit-link: #004c75;
}
.skill-label {
  font-weight: 600;
}
.edit-btn {
  position: absolute;
  right: 20px;
}
.edit-icon {
  cursor: pointer;
  padding: 10px;
}

.edit-icon:hover {
  background-color: rgb(197, 197, 197);
  padding: 10px;
  border-radius: 50%;
}

.userName {
  font-family: system-ui;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
  font-size: 24px;
  margin-top: 10px;
}

.heading {
  margin-top: -25px;
  font-family: system-ui;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  width: 320px;
  line-height: 20px;
}

.profile-edit-inputs {
  display: grid;
  margin-top: 40px;
  gap: 20px;

  label {
    font-family: system-ui;
    margin-bottom: -15px;
  }

  .edit-input {
    width: 300px;
    height: 40px;
  }
}

.save-container {
  display: flex;
  justify-content: center;
}

.save-btn {
  width: 300px;
  height: 50px;
  cursor: pointer;
  background-color: var(--linkedinBlue2);
  border-radius: 30px;
  outline: none;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
}

.close-icon {
  cursor: pointer;
}
